@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background: white;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.container {
    max-width: fit-content;
    margin: 2rem auto;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
}

header {
    background: linear-gradient(135deg, #89CFF0, #FAAFBA);
    width: auto;
    padding: 1.5rem;
  }

.btn {
    background: transparent;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
  }
  
  .btn-login {
    color: #89CFF0;
    border: 1px solid #89CFF0;
  }
  
  .btn-login:hover {
    background: #89CFF0;
    color: #fff;
  }
  
  .btn-signup {
    color: #FAAFBA;
    border: 1px solid #FAAFBA;
  }
  
  .btn-signup:hover {
    background: #FAAFBA;
    color: #fff;
  }



.custom-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input{
    padding: 12px;
    width: 300px;
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid #C3B1E1;
    outline-color: #C3B1E1;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: 21px;
    font-size: 10px;
    color: black;
    padding: 5px;
    background: white;
}

.message{
    font-size: 70px;
    color: steelblue;
}

.success{
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
}